
@font-face { 
  font-family: Proxima; 
  src: asset-url('proximanova-bold-webfont.woff', Font); 
} 

@font-face { 
  font-family: ProximaRegular; 
  src: asset-url('proximanova-regular-webfont.woff', Font); 
} 